<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (membership()) {
      <div>
        <h2 data-cy="membershipDetailsHeading"><span >Membership</span></h2>

        <hr />

        <app-alert-error></app-alert-error>

        <app-alert></app-alert>

        <dl class="row-md jh-entity-details">
          <dt><span >ID</span></dt>
          <dd>
            <span>{{ membership()!.id }}</span>
          </dd>
          <dt><span >At</span></dt>
          <dd>
            <span>{{ membership()!.at | formatMediumDatetime }}</span>
          </dd>
          <dt><span >Activate Notification</span></dt>
          <dd>
            <span>{{ membership()!.activateNotification }}</span>
          </dd>
          <dt><span >Account</span></dt>
          <dd>
            @if (membership()!.account) {
              <div>
                <a [routerLink]="['/ngelmak-account', membership()!.account?.id, 'view']">{{ membership()!.account?.id }}</a>
              </div>
            }
          </dd>
          <dt><span >Subscriber</span></dt>
          <dd>
            @if (membership()!.subscriber) {
              <div>
                <a [routerLink]="['/ngelmak-account', membership()!.subscriber?.id, 'view']">{{ membership()!.subscriber?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <span icon="arrow-left"></span>&nbsp;<span >Retour</span>
        </button>

        <button type="button" [routerLink]="['/membership', membership()!.id, 'edit']" class="btn btn-primary">
          <span icon="pencil-alt"></span>&nbsp;<span >Editer</span>
        </button>
      </div>
    }
  </div>
</div>
