<div
  [@flashBoxShadow]="flashBoxShadowState"
  (@flashBoxShadow.done)="
    isSaving() && (flashBoxShadowState = !flashBoxShadowState)
  "
  class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <h3 class="mb-4 text-xl uppercase font-semibold dark:text-white">
    General information
  </h3>
  <form (ngSubmit)="save()" [formGroup]="accountForm" novalidate>
    <div class="grid grid-cols-6 gap-6">
      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Prénom</mat-label>
        <input matInput type="text" formControlName="firstName" />

        @if (accountForm.get('firstName')!.invalid &&
        (accountForm.get('firstName')!.dirty ||
        accountForm.get('firstName')!.touched)) {
        <mat-hint
          *ngIf="accountForm.get('firstName')?.errors?.['required']"
          class="form-text text-danger"
          >Votre nom d'utilisateur est obligatoire.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('firstName')?.errors?.['minlength']"
          class="form-text text-danger"
          >Votre nom d'utilisateur doit contenir plus d'un caractère.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('firstName')?.errors?.['maxlength']"
          class="form-text text-danger"
          >Votre nom d'utilisateur ne peut pas contenir plus de 50
          caractères.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('firstName')?.errors?.['pattern']"
          class="form-text text-danger"
          >Votre nom d'utilisateur est invalide.</mat-hint
        >
        }
      </mat-form-field>

      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Nom</mat-label>
        <input matInput type="text" formControlName="lastName" />

        @if (accountForm.get('lastName')!.invalid &&
        (accountForm.get('lastName')!.dirty ||
        accountForm.get('lastName')!.touched)) {
        <mat-hint
          *ngIf="accountForm.get('lastName')?.errors?.['required']"
          class="form-text text-danger"
          >Votre nom d'utilisateur est obligatoire.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('lastName')?.errors?.['minlength']"
          class="form-text text-danger"
          >Votre nom d'utilisateur doit contenir plus d'un caractère.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('lastName')?.errors?.['maxlength']"
          class="form-text text-danger"
          >Votre nom d'utilisateur ne peut pas contenir plus de 50
          caractères.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('lastName')?.errors?.['pattern']"
          class="form-text text-danger"
          >Votre nom d'utilisateur est invalide.</mat-hint
        >
        }
      </mat-form-field>

      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput type="text" formControlName="login" readonly />

        @if (accountForm.get('login')!.invalid &&
        (accountForm.get('login')!.dirty || accountForm.get('login')!.touched))
        {
        <mat-hint
          *ngIf="accountForm.get('login')?.errors?.['required']"
          class="form-text text-danger"
          >Votre nom d'utilisateur est obligatoire.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('login')?.errors?.['minlength']"
          class="form-text text-danger"
          >Votre nom d'utilisateur doit contenir plus d'un caractère.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('login')?.errors?.['maxlength']"
          class="form-text text-danger"
          >Votre nom d'utilisateur ne peut pas contenir plus de 50
          caractères.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('login')?.errors?.['pattern']"
          class="form-text text-danger"
          >Votre nom d'utilisateur est invalide.</mat-hint
        >
        }
      </mat-form-field>

      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        @if (accountForm.get('email')!.invalid &&
        (accountForm.get('email')!.dirty || accountForm.get('email')!.touched))
        {
        <mat-hint
          *ngIf="accountForm.get('email')?.errors?.['required']"
          class="form-text text-danger"
          >Votre email est requis.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('email')?.errors?.['invalid']"
          class="form-text text-danger"
          >Votre email n'est pas valide.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('email')?.errors?.['minlength']"
          class="form-text text-danger"
          >Votre email doit comporter au moins 5 caractères.</mat-hint
        >
        <mat-hint
          *ngIf="accountForm.get('email')?.errors?.['maxlength']"
          class="form-text text-danger"
          >Votre email ne doit pas comporter plus de 50 caractères.</mat-hint
        >
        }
      </mat-form-field>
      <div class="col-span-6 sm:col-full">
        <button
          [disabled]="accountForm.invalid || isSaving()"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:cursor-not-allowed"
          type="submit"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
