<div>
  <h2 id="page-heading" data-cy="TicketHeading">
    <span >Tickets</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <span class="sync" ></span>
        <span >Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ticket"
        [routerLink]="['/ticket/new']"
      >
        <span class="plus"></span>
        <span >Créer un nouveau Ticket</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  @if (tickets?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span >Aucun Ticket trouvé</span>
    </div>
  }

  @if (tickets && tickets.length > 0) {
    <div class="table-responsive table-entities" >
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ngelmakSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ngelmakSortBy="id">
              <div class="d-flex">
                <span >ID</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="object">
              <div class="d-flex">
                <span >Object</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="type">
              <div class="d-flex">
                <span >Type</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="at">
              <div class="d-flex">
                <span >At</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="closed">
              <div class="d-flex">
                <span >Closed</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="content">
              <div class="d-flex">
                <span >Content</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="postRelated.id">
              <div class="d-flex">
                <span >Post Related</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="commentRelated.id">
              <div class="d-flex">
                <span >Comment Related</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="accountRelated.id">
              <div class="d-flex">
                <span >Account Related</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="issuedby.id">
              <div class="d-flex">
                <span >Issuedby</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (ticket of tickets; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/ticket', ticket.id, 'view']">{{ ticket.id }}</a>
              </td>
              <td>{{ ticket.object }}</td>
              <td >
                {{ { null: '', ABUSE: 'ABUSE', APPROVAL_REQUEST: 'APPROVAL_REQUEST' }[ticket.type ?? 'null'] }}
              </td>
              <td>{{ ticket.at | formatMediumDatetime }}</td>
              <td>{{ ticket.closed }}</td>
              <td>{{ ticket.content }}</td>
              <td>
                @if (ticket.postRelated) {
                  <div>
                    <a [routerLink]="['/post', ticket.postRelated.id, 'view']">{{ ticket.postRelated.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ticket.commentRelated) {
                  <div>
                    <a [routerLink]="['/comment', ticket.commentRelated.id, 'view']">{{ ticket.commentRelated.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ticket.accountRelated) {
                  <div>
                    <a [routerLink]="['/ngelmak-account', ticket.accountRelated.id, 'view']">{{ ticket.accountRelated.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (ticket.issuedby) {
                  <div>
                    <a [routerLink]="['/ngelmak-account', ticket.issuedby.id, 'view']">{{ ticket.issuedby.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/ticket', ticket.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <span class="eye"></span>
                    <span class="d-none d-md-inline" >Voir</span>
                  </a>

                  <a [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <span icon="pencil-alt"></span>
                    <span class="d-none d-md-inline" >Editer</span>
                  </a>

                  <button type="submit" (click)="delete(ticket)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <span class="times"></span>
                    <span class="d-none d-md-inline" >Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tickets && tickets.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <!-- <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination> -->
      </div>
    </div>
  }
</div>
