@if (user) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(user.login!)">
    <div class="modal-header">
      <h4 class="modal-title" >Confirmation de suppression</h4>
    </div>

    <div class="modal-body">
      <app-alert-error></app-alert-error>

      <p id="userManagement.delete.question" >
        Etes-vous certain de vouloir supprimer l&apos;utilisateur {{ user.login }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <!-- <span class="ban"></span>&nbsp;<span >Annuler</span> -->
      </button>

      <button type="submit" class="btn btn-danger">
        <!-- <span class="times"></span>&nbsp;<span >Supprimer</span> -->
      </button>
    </div>
  </form>
}
