<div class="flex flex-col justify-center md:flex-row gap-2 md:gap-5 p-5 min-h-screen">
  <div class="flex-1 pl-4 max-w-md">
    <form class="flex items-center">
      <div
        class="border-2 shadow relative flex items-center bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <span class="w-auto flex justify-end items-center text-gray-500 p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
          </svg>
        </span>
        <input #query class="bg-transparent outline-none w-full text-base rounded-xl p-2" type="text"
          placeholder="Rechercher une publication..." />
        @if (query.value.length > 0) {
        <svg (click)="query.value=''" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M6 18 17.94 6M18 18 6.06 6" />
        </svg>
        }
        <button type="button" (click)="search(query.value)"
          class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Rechercher
        </button>
      </div>
    </form>

    <div class="flex flex-col divide-y divide-gray-200 dark:divide-gray-700">
      @if (posts()?.length > 0) {
      <article *ngFor="let post of posts()" class="py-8">
        <!-- Header -->
        <div class="flex flex-col gap-2">
          <div class="flex items-center">
            <a class="inline-flex mr-4"
              [routerLink]="['nk-account', post.account.id + '-' + post.account.identifier, 'view']">
              @if (post.account.avatar) {
              <img [src]="post.account.avatar" alt="Account avatar" class="rounded-full max-w-none w-12 h-12" />
              } @else {
              <div
                class="flex items-center justify-center rounded-full max-w-none w-12 h-12 text-6xl uppercase text-black bg-gray-50 dark:bg-gray-300]">
                {{post.account.name.at(0)}}
              </div>
              }
            </a>
            <div class="flex flex-col">
              <!-- Name and following button -->
              <div class="flex space-x-2">
                <a class="inline-block text-sm font-medium text-gray-900 dark:text-white"
                  [routerLink]="['nk-account', post.account.id + '-' + post.account.identifier, 'view']">{{post.account.name
                  }}</a>
                <svg class="w-5 h-5 text-blue-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" fill="currentColor" viewBox="0 0 24 24">
                  <path fill-rule="evenodd"
                    d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                    clip-rule="evenodd" />
                </svg>
                <button type="button"
                  class="inline-flex items-center text-sm font-medium text-gray-900 dark:text-white">
                  Following
                </button>
              </div>
              <!-- Keywords and publish at -->
              <div class="inline-flex items-center space-x-1">
                <div class="inline-flex items-center space-x-1">
                  <span *ngFor="let keyword of post.keywords.split(',')"
                    class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                    {{keyword}}
                  </span>
                </div>
                <span class="w-1 h-1 bg-gray-600 dark:bg-slate-400 rounded-full mr-1"></span>
                <div class="text-gray-500 dark:text-gray-400">
                  {{post.at | duration}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Replay to a post content -->
        <div>
        </div>
        <!-- Actual post's content -->
        <div class="px-2">
          <div class="text-black dark:text-gray-200" [innerHTML]="post.content"></div>
        </div>
        <!-- Actions -->
        <div class="flex justify-between pt-5">
          <span
            class="bg-gray-100 text-gray-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded-md me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5 me-1.5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>

            <span>{{post.comments?.length}} Commentaire(s)</span>
          </span>
          <a class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500"
            [routerLink]="['/nk-post', post.id, 'view']">
            Lire plus
            <svg class="w-4 h-4 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </article>
      }
      @if (isLoading()) {
      <article *ngFor="let item of [1, 2, 3]" class="py-8 animate-pulse">
        <div class="flex flex-col gap-2">
          <div class="flex items-center">
            <a class="inline-flex mr-4" href="#">
              <div class="rounded-full max-w-none w-12 h-12">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="text-gray-200 dark:text-gray-700 size-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
              </div>
            </a>
            <div class="flex flex-col">
              <div class="flex items-center space-x-2">
                <span class="w-28 h-2 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
                <span class="w-4 h-4 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
                <span class="w-10 h-2 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
              </div>
              <div class="inline-flex items-center space-x-1">
                <div class="inline-flex items-center">
                  <span class="w-14 h-2 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
                  <span class="w-20 h-2 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
                </div>
                <span class="w-1 h-1 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
                <span class="w-16 h-2 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
              </div>
            </div>
          </div>
          <div class="inline-flex">
            <span class="w-52 h-4 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
            <span class="w-24 h-4 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
            <span class="w-16 h-4 bg-gray-200 dark:bg-gray-700 mb-2.5 rounded-full"></span>
          </div>
        </div>
        <div>
        </div>
        <div class="px-2">
          <div class="flex flex-col space-y-1">
            <span class="w-52 h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
            <span class="w-4/5 h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
            <span class="w-full h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
            <span class="w-3/5 h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
            <span class="w-2/6 h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
            <span class="w-2/3 h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
          </div>
        </div>
        <div class="flex justify-between pt-5">
          <div class="inline-flex items-center space-x-2">
            <div class="inline-flex items-center space-x-2 text-gray-200 dark:text-gray-700 p-2">
              <span class="w-4 h-4 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
              <span class="w-24 h-4 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
              <span class="w-1 h-1 bg-gray-200 dark:bg-gray-700 rounded-full mr-1"></span>
            </div>
            <div class="p-2">
              <span class="w-4 h-4 bg-gray-200 dark:bg-gray-700 block rounded-full"></span>
            </div>
          </div>
          <a class="inline-flex items-center font-medium text-gray-200 dark:text-gray-700">
            <span class="w-24 h-2 bg-gray-200 dark:bg-gray-700 rounded-full"></span>
            <span class="w-4 h-4 bg-gray-200 dark:bg-gray-700 block rounded-full"></span>
          </a>
        </div>
      </article>
      }
    </div>

    <!-- Pagination -->
    <div *ngIf="posts()?.length > 0" class="inline-flex items-center gap-2">
      <button type="button" (click)="navigateToPage(page-1)" [disabled]="!hasPrevious()"
        class="inline-flex items-center text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12l4-4m-4 4 4 4" />
        </svg>
        Page précédente
      </button>

      <button type="button" (click)="navigateToPage(page+1)" [disabled]="!hasNext()"
        class="inline-flex items-center text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-2 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">
        Page suivante
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 12H5m14 0-4 4m4-4-4-4" />
        </svg>
      </button>
    </div>
  </div>
  <div class="w-full md:w-60 divide-x-2">
    <div
      class="flex flex-col gap-2 md:fixed shadow relative bg-gray-50 text-gray-900 rounded-lg  dark:border-gray-600 dark:placeholder-gray-400 p-5 items-center justify-between text-gray border-2 border-gray-200 dark:text-gray-400 dark:bg-gray-800">
      <div class="flex flex-row md:flex-col justify-between">
        <h1 class="text-gray-800 dark:text-gray-100 font-bold">Publication</h1>
        <a routerLink="/nk-post/new"
          class="text-white hover:text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full">
          Créer une publication
        </a>
      </div>
      <div class="flex flex-row md:flex-col">
        <ul class="space-y-2 font-medium w-full">
          <li>
            <a href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <span class="ms-3">Date de publication</span>
            </a>
            <!-- <div class="w-full">
              <mat-form-field class="w-full">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date">
                  <input matEndDate placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div> -->
          </li>
          <li>
            <a href="#"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M9.529 9.988a2.502 2.502 0 1 1 5 .191A2.441 2.441 0 0 1 12 12.582V14m-.01 3.008H12M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
              <span class="flex-1 ms-3 whitespace-nowrap">Postes restreints</span>
            </a>
          </li>
          <li>
            <button (click)="filterFollowing()"
              class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              <svg
                class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                  d="M4.37 7.657c2.063.528 2.396 2.806 3.202 3.87 1.07 1.413 2.075 1.228 3.192 2.644 1.805 2.289 1.312 5.705 1.312 6.705M20 15h-1a4 4 0 0 0-4 4v1M8.587 3.992c0 .822.112 1.886 1.515 2.58 1.402.693 2.918.351 2.918 2.334 0 .276 0 2.008 1.972 2.008 2.026.031 2.026-1.678 2.026-2.008 0-.65.527-.9 1.177-.9H20M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>

              <span class="flex-1 ms-3 whitespace-nowrap">Following</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>