<div
  [@flashBoxShadow]="flashBoxShadowState"
  (@flashBoxShadow.done)="
    isSaving() && (flashBoxShadowState = !flashBoxShadowState)
  "
  class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <h3 class="mb-4 text-xl uppercase font-semibold dark:text-white">
    Information sur le compte
  </h3>
  <form (ngSubmit)="save()" [formGroup]="ngelmakAccountForm" novalidate>
    <div class="flex flex-col gap-6">
      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Nom du compte</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-hint
          *ngIf="ngelmakAccountForm.get('name')!.dirty && ngelmakAccountForm.get('name')?.errors?.['required']"
          class="form-text text-danger"
        >
          Le nom du compte est obligatoire.
        </mat-hint>
        <mat-hint
          *ngIf="ngelmakAccountForm.get('name')!.dirty && ngelmakAccountForm.get('name')?.errors?.['minlength']"
          class="form-text text-danger"
          >Le nom du compte doit contenir plus d'un caractère.
        </mat-hint>
      </mat-form-field>
      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Description</mat-label>
        <textarea matInput type="text" formControlName="description"></textarea>
        <mat-hint
          *ngIf="ngelmakAccountForm.get('description')!.dirty && ngelmakAccountForm.get('description')?.errors?.['required']"
          class="form-text text-danger"
        >
          La description est obligatoire.
        </mat-hint>
        <mat-hint
          *ngIf="ngelmakAccountForm.get('description')!.dirty && ngelmakAccountForm.get('description')?.errors?.['minlength']"
          class="form-text text-danger"
        >
          Le description doit contenir plus dun caractère.
        </mat-hint>
        <mat-hint
          *ngIf="ngelmakAccountForm.get('description')!.dirty && ngelmakAccountForm.get('description')?.errors?.['maxlength']"
          class="form-text text-danger"
        >
          La descritption ne peut pas contenir plus de 500 caractères.
        </mat-hint>
      </mat-form-field>
      <div class="col-span-6 sm:col-full">
        <button
          [disabled]="ngelmakAccountForm.invalid || isSaving()"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:cursor-not-allowed"
          type="submit"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
