<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 >Réinitialiser son mot de passe</h1>

      <app-alert-error></app-alert-error>

      @if (!success()) {
        <div class="alert alert-warning">
          <span >Veuillez renseigner l&apos;adresse email utilisée pour vous enregistrer</span>
        </div>
        <form name="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" >Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder'  }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.['required']) {
                  <small class="form-text text-danger" id="global.messages.validate.email.required"
                    >Votre email est requis.</small
                  >
                }
                @if (resetRequestForm.get('email')?.errors?.['email']) {
                  <small class="form-text text-danger" id="global.messages.validate.email.invalid"
                    >Votre email n&apos;est pas valide.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.['minlength']) {
                  <small class="form-text text-danger" id="global.messages.validate.email.minlength"
                    >Votre email doit comporter au moins 5 caractères.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.['maxlength']) {
                  <small class="form-text text-danger" id="global.messages.validate.email.maxlength"
                    >Votre email ne doit pas comporter plus de 50 caractères.</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            data-cy="submit"
            id="reset.request.form.button"
          >
            Réinitialiser le mot de passe
          </button>
        </form>
      } @else {
        <div class="alert alert-success">
          <span id="reset.request.messages.success"
            >Veuillez vérifier vos nouveaux emails et suivre les instructions pour réinitialiser votre mot de passe.</span
          >
        </div>
      }
    </div>
  </div>
</div>
