<div class="box-border mx-4 sm:columns-1 rounded-xl overflow-hidden p-4">
  <form
    name="postForm"
    class="flex flex-col gap-6"
    novalidate
    (ngSubmit)="save()"
    [formGroup]="postForm"
  >
    <div class="flex flex-row justify-between items-start gap-1 flex-wrap">
      <h2 class="text-4xl font-bold text-slate-600 dark:text-white">
        @if (post?.id) { Modifier un Post } @else { Créer un Post }
      </h2>
      <button
        type="button"
        (click)="previousState()"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14M5 12l4-4m-4 4 4 4"
          />
        </svg>
        <span>Retour</span>
      </button>
    </div>

    <app-alert-error></app-alert-error>

    <div class="grid grid-cols-1 items-start sm:grid-cols-6 gap-6">
      <mat-form-field class="col-span-full">
        <mat-label>Titre</mat-label>
        <input
          matInput
          type="text"
          formControlName="title"
          class="!border-2 !border-red-500"
        />
        <mat-hint
          align="start"
          *ngIf="postForm.get('title')?.errors?.['required'] && (postForm.get('title')!.dirty
        || postForm.get('title')!.touched)"
          class="text-sm text-red-800"
        >
          Ce champ est obligatoire.
        </mat-hint>
      </mat-form-field>

      <mat-form-field class="col-span-full">
        <mat-label>Sous titre</mat-label>
        <input matInput type="text" formControlName="subtitle" />
      </mat-form-field>

      <mat-form-field class="col-span-full">
        <mat-label>Mots clés</mat-label>
        <mat-chip-grid
          #templateChipGrid
          aria-label="Enter template form keywords"
        >
          <mat-chip-row
            *ngFor="let keyword of keywords; let i = index"
            (removed)="removekeyword(i)"
          >
            {{ keyword }}
            <button matChipRemove aria-label="'remove template form' + keyword">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="Mot clé..."
          [matChipInputFor]="templateChipGrid"
          (matChipInputTokenEnd)="addkeyword($event)"
        />
      </mat-form-field>

      <mat-form-field class="col-span-full sm:col-span-3">
        <mat-label>Sujet abordé dans cette publication</mat-label>
        <mat-select
          placeholder="Sélectionner un sujet"
          formControlName="subject"
        >
          <mat-option *ngFor="let subject of subjectValues" [value]="subject">{{
            subject
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-span-full sm:col-span-3">
        <mat-label>La visibilité de la publication</mat-label>
        <mat-select
          placeholder="Définir la visibilité"
          formControlName="visibility"
        >
          <mat-option
            *ngFor="let visibility of visibilityValues"
            [value]="visibility"
            >{{ visibility }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-span-full">
        <mat-label>Sommaire</mat-label>
        <textarea matInput placeholder="Ecrivez ici le sommaire de votre présentation..." formControlName="content"></textarea>
        <mat-hint align="end" class="text-black dark:text-gray-200">
          Utilisez les caractères * pour <strong>gras</strong>, _ pour <i>italique</i> etc.
        </mat-hint>
        <mat-error
          align="start"
          *ngIf="postForm.get('content')?.errors?.['required'] && (postForm.get('content')!.dirty
        || postForm.get('content')!.touched)"
          class="text-sm text-red-800"
        >
          Ce champ est obligatoire.
        </mat-error>
      </mat-form-field>
    </div>

    <app-attachment-update [attachments]="attachments" [deletedAttachments]="deletedAttachments"></app-attachment-update>

    <div class="flex flex-row justify-end gap-2">
      <button
        type="button"
        (click)="previousState()"
        [disabled]="isSaving"
        class="px-6 py-3.5 text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-base text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 disabled:cursor-not-allowed"
      >
        Annuler
      </button>

      <button
        type="submit"
        [disabled]="postForm.invalid || isSaving"
        class="px-6 py-3.5 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800 disabled:cursor-not-allowed"
      >
        <svg
          *ngIf="isSaving"
          aria-hidden="true"
          role="status"
          class="inline w-4 h-4 me-3 animate-spin"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="#E5E7EB"
          />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentColor"
          />
        </svg>
        Sauvegarder
      </button>
    </div>
  </form>
</div>
