<div
  [@flashBoxShadow]="flashBoxShadowState"
  (@flashBoxShadow.done)="
    isSaving() && (flashBoxShadowState = !flashBoxShadowState)
  "
  class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <h3 class="mb-4 text-xl uppercase font-semibold dark:text-white">
    Password information
  </h3>
  <form (ngSubmit)="changePassword()" [formGroup]="passwordForm" novalidate>
    <div class="grid grid-cols-6 gap-6">
      <div class="flex flex-col col-span-6 sm:col-span-3">
        <mat-form-field>
          <mat-label>Mot de passe actuel</mat-label>
          <input
            matInput
            type="password"
            formControlName="currentPassword"
            required
          />
        </mat-form-field>
        @if (passwordForm.get('currentPassword')!.invalid &&
        (passwordForm.get('currentPassword')!.dirty ||
        passwordForm.get('currentPassword')!.touched)) {
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('currentPassword')?.errors?.['required']"
          >Votre mot de passe est requis.</span
        >
        <span class="block text-xs text-red-600" *ngIf="doNotMatch()"
          >Le nouveau mot de passe et sa confirmation ne sont pas égaux !</span
        >
        }
      </div>
      <div class="flex flex-col col-span-6 sm:col-span-3">
        <mat-form-field>
          <mat-label>Nouveau mot de passe</mat-label>
          <input
            matInput
            type="password"
            formControlName="newPassword"
            required
          />
        </mat-form-field>
        @if (passwordForm.get('newPassword')!.invalid &&
        (passwordForm.get('newPassword')!.dirty ||
        passwordForm.get('newPassword')!.touched)) {
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('newPassword')!.dirty && passwordForm.get('newPassword')?.errors?.['required']"
          >Votre mot de passe est requis.</span
        >
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('newPassword')!.dirty && passwordForm.get('newPassword')?.errors?.['minlength']"
          >Votre mot de passe doit comporter au moins 4 caractères.</span
        >
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('newPassword')!.dirty && passwordForm.get('newPassword')?.errors?.['maxlength']"
          >Votre mot de passe ne doit pas comporter plus de 50 caractères.</span
        >}
      </div>
      <div class="flex flex-col col-span-6 sm:col-span-3">
        <mat-form-field>
          <mat-label>Confirmation de mot de passe</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            required
          />
        </mat-form-field>
        @if (passwordForm.get('confirmPassword')!.invalid &&
        (passwordForm.get('confirmPassword')!.dirty ||
        passwordForm.get('confirmPassword')!.touched)) {
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('confirmPassword')!.dirty && passwordForm.get('confirmPassword')?.errors?.['required']"
          >Votre confirmation du mot de passe est requise.
        </span>
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('confirmPassword')!.dirty && passwordForm.get('confirmPassword')?.errors?.['minlength']"
          >Votre confirmation du mot de passe doit comporter au moins 4
          caractères.
        </span>
        <span
          class="block text-xs text-red-600"
          *ngIf="passwordForm.get('confirmPassword')!.dirty && passwordForm.get('confirmPassword')?.errors?.['maxlength']"
          >Votre confirmation du mot de passe ne doit pas comporter plus de 50
          caractères.
        </span>
        }
      </div>

      <div class="col-span-6 sm:col-full">
        <button
          [disabled]="passwordForm.invalid || isSaving()"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:cursor-not-allowed"
          type="submit"
        >
          Enregistrer
        </button>
      </div>
    </div>
  </form>
</div>
