<div
  [@flashBoxShadow]="flashBoxShadowState"
  (@flashBoxShadow.done)="
    isSaving() && (flashBoxShadowState = !flashBoxShadowState)
  "
  class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <h3 class="mb-4 text-xl uppercase font-semibold dark:text-white">
    Password information
  </h3>
  <form (ngSubmit)="changePassword()" [formGroup]="passwordForm" novalidate>
    <div class="grid grid-cols-6 items-start gap-6">
      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Mot de passe actuel</mat-label>
        <input
          matInput
          type="password"
          formControlName="currentPassword"
          required
        />
        <mat-error
          *ngIf="passwordForm.get('currentPassword')?.errors?.['required']"
          >Votre mot de passe est requis.</mat-error
        >
      </mat-form-field>

      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Nouveau mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="newPassword"
          required
        />
        <mat-error
          *ngIf="passwordForm.get('newPassword')!.dirty && passwordForm.get('newPassword')?.errors?.['required']"
          >Votre mot de passe est requis.</mat-error
        >
        <mat-error
          *ngIf="passwordForm.get('newPassword')!.dirty && passwordForm.get('newPassword')?.errors?.['minlength']"
          >Votre mot de passe doit comporter au moins 4 caractères.</mat-error
        >
        <mat-error
          *ngIf="passwordForm.get('newPassword')!.dirty && passwordForm.get('newPassword')?.errors?.['maxlength']"
          >Votre mot de passe ne doit pas comporter plus de 50
          caractères.</mat-error
        >
      </mat-form-field>

      <mat-form-field class="col-span-6 sm:col-span-3">
        <mat-label>Confirmation de mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          required
        />
        <mat-error
          *ngIf="passwordForm.get('confirmPassword')!.dirty && passwordForm.get('confirmPassword')?.errors?.['required']"
          >Votre confirmation du mot de passe est requise.</mat-error
        >
        <mat-error
          *ngIf="passwordForm.get('confirmPassword')!.dirty && passwordForm.get('confirmPassword')?.errors?.['minlength']"
          >Votre confirmation du mot de passe doit comporter au moins 4
          caractères.</mat-error
        >
        <mat-error
          *ngIf="passwordForm.get('confirmPassword')!.dirty && passwordForm.get('confirmPassword')?.errors?.['maxlength']"
          >Votre confirmation du mot de passe ne doit pas comporter plus de 50
          caractères.</mat-error
        >
      </mat-form-field>
      <div class="col-span-6 sm:col-full">
        <button
          [disabled]="passwordForm.invalid || isSaving()"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 disabled:cursor-not-allowed"
          type="submit"
        >
          Enregistrer
        </button>
      </div>
      <div
        *ngIf="doNotMatch()"
        class="col-span-full text-red-600 text-base font-semibold"
      >
        Le nouveau mot de passe et sa confirmation ne sont pas égaux !
      </div>
    </div>
  </form>
</div>
