<div>
  <h2 id="page-heading" data-cy="CommentHeading">
    <span >Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <span class="sync" ></span>
        <span >Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-comment"
        [routerLink]="['/comment/new']"
      >
        <span class="plus"></span>
        <span >Créer un nouveau Comment</span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  @if (comments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span >Aucun Comment trouvé</span>
    </div>
  }

  @if (comments && comments.length > 0) {
    <div class="table-responsive table-entities" >
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr ngelmakSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" ngelmakSortBy="id">
              <div class="d-flex">
                <span >ID</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="opinion">
              <div class="d-flex">
                <span >Opinion</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="at">
              <div class="d-flex">
                <span >At</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="lastUpdate">
              <div class="d-flex">
                <span >Last Update</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="content">
              <div class="d-flex">
                <span >Content</span>

                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="post.id">
              <div class="d-flex">
                <span >Post</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="replayto.id">
              <div class="d-flex">
                <span >Replayto</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col" ngelmakSortBy="account.id">
              <div class="d-flex">
                <span >Account</span>
                <span class="p-1" class="sort"></span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (comment of comments; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/comment', comment.id, 'view']">{{ comment.id }}</a>
              </td>
              <td >
                {{
                  { null: '', DEFAULT: 'DEFAULT', OPPOSED: 'OPPOSED', SUPPORT: 'SUPPORT', NEUTRAL: 'NEUTRAL', STRENGTHENED: 'REINFORCED' }[
                    comment.opinion ?? 'null'
                  ]
                }}
              </td>
              <td>{{ comment.at | formatMediumDatetime }}</td>
              <td>{{ comment.lastUpdate | formatMediumDatetime }}</td>
              <td>{{ comment.content }}</td>
              <td>
                @if (comment.post) {
                  <div>
                    <a [routerLink]="['/post', comment.post.id, 'view']">{{ comment.post.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (comment.replayto) {
                  <div>
                    <a [routerLink]="['/comment', comment.replayto.id, 'view']">{{ comment.replayto.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (comment.account) {
                  <div>
                    <a [routerLink]="['/ngelmak-account', comment.account.id, 'view']">{{ comment.account.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/comment', comment.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <span class="eye"></span>
                    <span class="d-none d-md-inline" >Voir</span>
                  </a>

                  <a [routerLink]="['/comment', comment.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <span icon="pencil-alt"></span>
                    <span class="d-none d-md-inline" >Editer</span>
                  </a>

                  <button type="submit" (click)="delete(comment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <span class="times"></span>
                    <span class="d-none d-md-inline" >Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (comments && comments.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <!-- <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination> -->
      </div>
    </div>
  }
</div>
