<h2 mat-dialog-title>
  <div class="inline-flex items-center">Retrait de la certification</div>
</h2>

<mat-dialog-content class="w-full">
  <div id="alert-additional-content-4" class="p-4 mb-4 text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800" role="alert">
    <div class="flex items-center">
      <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <h3 class="text-lg font-medium">Êtes-vous sûr de vouloir retirer la certification à ce compte ?</h3>
    </div>
    <div class="mt-2 mb-4 text-sm">
      Veuillez noter qu'après cette action, certaines des informations de certification de l'utilisateur seront supprimées. L'utilisateur devra tout recommencer avant de retrouver sa certification.
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="inline-flex justify-end">
    <button mat-dialog-close cdkFocusInitial type="button"
      class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Annuler</button>
    <button type="button" (click)="save()"
      class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2 text-center me-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">Enregistrer</button>
  </div>
</mat-dialog-actions>