<h2 mat-dialog-title>Importation d'un document</h2>
<mat-dialog-content class="w-full">
  <div class="flex flex-col items-center justify-center gap-1 w-full">
    <label
      for="ngelmak-file-input"
      class="flex flex-col items-center justify-center w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
    >
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg
          class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 16"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
          />
        </svg>
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
          <span class="font-semibold">Cliquer pour importer un ficher</span>
        </p>
        <p class="text-xs text-gray-500 dark:text-gray-400">
          VIDEO, IMAGE, PDF, XSF, ... (MAX. 10MEGA)
        </p>
      </div>
      <input id="ngelmak-file-input" type="file" class="hidden" (change)="onFileSelected($event)" #fileUpload />
    </label>
    <p class="mb-2 text-sm text-gray-500 dark:text-gray-400 font-semibold">
      {{ attachment?.filename }}
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="flex gap-2">
  <button
    mat-dialog-close
    class="text-md text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 hover:dark:bg-gray-700 dark:text-red-400 focus:border-white focus:border-2 px-4 py-2"
    type="button"
    cdkFocusInitial
  >
    Annuler
  </button>
  <button
    (click)="save()"
    class="text-md text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 hover:dark:bg-gray-700 dark:text-blue-400 px-4 py-2"
    type="button"
  >
    Enregistrer
  </button>
</mat-dialog-actions>
