@if (ngelmakAccount) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(ngelmakAccount.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="ngelmakAccountDeleteDialogHeading" >
        Confirmation de suppression
      </h4>
    </div>

    <div class="modal-body">
      <app-alert-error></app-alert-error>
      <p
        id="app-delete-ngelmakAccount-heading"
        id="ngelmakprojectApp.ngelmakAccount.delete.question"

      >
        Êtes-vous certain de vouloir supprimer le Ngelmak Account {{ ngelmakAccount.id }} ?
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <span class="ban"></span>&nbsp;<span >Annuler</span>
      </button>

      <button id="app-confirm-delete-ngelmakAccount" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <span class="times"></span>&nbsp;<span >Supprimer</span>
      </button>
    </div>
  </form>
}
